@import url("https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css")

.editor-preview
  background-image: asset-url("preview.png")
  background-size: contain
  aspect-ratio: 1302 / 2616
  padding: 27% 9%
  display: flex
  justify-content: space-evenly
  align-items: center
  flex-direction: column

  > .image
    aspect-ratio: 1
    object-fit: cover

  > audio
    width: 100%

.editor-form
  .frame
    .image
      aspect-ratio: 1
      object-fit: cover

  a.frame:hover
    background: #EEE
    border-radius: 10px

  .center.aligned.field > label
    text-align: center

.tags a
  font-style: italic
  color: inherit
  opacity: 0.8

  &:hover
    color: #00b5ad

  &:not(:last-child)::after
    content: ", "

.frames.grid
  max-height: 420px
  overflow-y: auto
